# This is a Sigil specific .env file.  This doesn't come from the blockscout team.

# Blockscout has a million env vars for running.  We run with docker-compose so
# all the env var configs can be found in `docker-compose/env`.  Since theres so
# many (most of which are left to defaults), I'm including all the vars that we
# changed here for brevity.  So make sure to source this `source .env` before
# starting blockscout

# common-blockscout.env
ETHEREUM_JSONRPC_HTTP_URL=
DATABASE_URL=
ETHEREUM_JSONRPC_TRACE_URL=
SUBNETWORK=Sigil
ECTO_USE_SSL=true
CHAIN_ID=51611

# common-frontend.env
NEXT_PUBLIC_API_HOST=
NEXT_PUBLIC_APP_HOST=
NEXT_PUBLIC_NETWORK_NAME=Sigil
NEXT_PUBLIC_NETWORK_SHORT_NAME=Sigil
NEXT_PUBLIC_NETWORK_ID=51611

# common-nft-media-handler.env
NFT_MEDIA_HANDLER_AWS_ACCESS_KEY_ID=
NFT_MEDIA_HANDLER_AWS_SECRET_ACCESS_KEY=
NFT_MEDIA_HANDLER_AWS_BUCKET_HOST=
NFT_MEDIA_HANDLER_AWS_PUBLIC_BUCKET_URL=
NFT_MEDIA_HANDLER_AWS_BUCKET_NAME=

# common-user-ops-indexer.env
USER_OPS_INDEXER__INDEXER__RPC_URL=""
USER_OPS_INDEXER__DATABASE__CONNECT__URL=""
